
header{
    min-height: 100vh;
    background-image: linear-gradient(rgba(4,9,30,0.7), rgba(4,9,30,0.7)), url('../img/umib.jpeg');
    background-position: center;
}
.sg-text #btn{
    border: 2px solid #5d91da;
    padding: 10px 40px;
    font-size: 1.25rem;
    font-weight: 500;
    margin-top: 100px;
}
.sg-text #btn:hover{
    background-color: #5d91da;
    transition: .8s;
}
.sg-faculties ul{
    padding-top: 4%;
    padding-left: 10%;
}
.sg-faculties h2, .sg-news h3 , .sg-reviews h3{
    text-transform: uppercase;
    font-size: 3rem;
    font-weight: 800;
    color: #0047AB;
}
.sg-reviews h3{
    font-size: 2.3rem;
}
.sg-faculties h4{
    margin-bottom: 3%;
    font-size: 1.875rem;
}
.sg-faculties{
    margin-top: 3%;
}

.sg-faculties  #faculty{
    flex-basis: 30%;
    background-color: rgba(229, 228, 226, 0.4);
    margin-bottom: 5%;
    padding: 20px 12px;
    box-shadow: 0 0 20px 0 rgba(0,0,0,0.2);

}
.sg-news{
    margin-top: 5%;
}

.sg-news h4 a {
    color: #000 !important;
    text-transform: capitalize;
    font-size: 1rem;
}
.sg-news p{
    font-size: 0.875rem;
    font-weight: 400;
    padding-top: 10px;
}
.sg-news p a{
    color: #0047AB !important;
    text-transform: lowercase;
    font-weight: 500;
}
.sg-news a:hover{
    color: #00008B	!important;
}
.sg-news span{
    font-size: 0.875rem;
}
.sg-newsBox{
    border: 1px solid black;
    min-height: 100%;
    height: auto;
    box-shadow: 0 0 20px 0 rgba(0,0,0,0.2);
    background-color: rgba(229, 228, 226, 0.3);
}
.sg-newsText{
    padding: 13px;
}
.sg-newsBtn{
    margin-top: 100px !important;
}
.sg-newsBtn a{
    color: #fff !important;
    font-weight: 600;
    font-size: 1.25rem;
    padding: 20px;
    background-color: #2469c9;

}
.sg-newsBtn a:hover{
    background-color: #0047AB;
    color: #fff !important;
    transition: .8s;
}
.sg-reviews{
    margin-top: 150px;
}
.sg-reviews img{
    object-fit:cover;
}
.card{
    min-height: 100%;
    height: auto;
    box-shadow: 0 0 20px 0 rgba(0,0,0,0.2);
}

.sg-reviews .fa{
    color: #FFDD43;
}
.sg-reviews #sg-quoteIcon{
    color: #000;
}


@media screen and (max-width:767px) {
    #faculty{
        width: 85%;
        margin: 15% auto;
    }
   
  
}
@media screen and (max-width:350px) {
    .sg-faculties h2, .sg-news h3{
        font-size: 2rem;
    }
    .sg-reviews h3{
        font-size: 1.8rem;
    }
}
