
nav{
    background-color: #4681D5;
 
}
nav li:hover{
    background-color: #246cd1;
}
nav li a:hover{
    border-bottom: none;
} 
.sg-news{
    padding-top: 140px;
}
.sg-news h4{
    font-size: 1.25rem;
    font-weight: 600;
}
span{
    font-size: 1rem;
    font-weight: 600;
}
.sg-news p{
    line-height: 200%;
    font-weight: 500;
    font-size: 0.938rem;
}
.sg-news p a {
    color: #b20000	!important;
    text-transform: capitalize;
}
.sg-news p a:hover {
    color: #4681D5 !important;
    
}

