header{
    min-height: 50vh;
    background-image: linear-gradient(rgba(4,9,30,0.7), rgba(4,9,30,0.7)), url('/../img/umib2.jpeg');
}
.wrapper{
	position: relative;
}
.sg-sidebar{
	position: relative;
	width: 300px;
	height: 100%;
	background: #000000e0;
	padding: 20px 0;
}
.sg-sidebar ul{
    list-style-type: none;
}
.text-muted{
	color: #adb5bd!important;
}
ul{
	padding-bottom: 10px; 
}
ul li a img{
	background: #66BB6A;
	top: 0;
	border: none;
	width: 20px;
}
 .sg-sidebar ul li{
	padding: 15px;	
}
.sg-sidebar ul li a{
	color: #fff;
	display: block;
    text-transform: capitalize;
}
.sg-sidebar ul li a .fas{
	width: 30px;
	color: #bdb8d7!important;
}

.sg-sidebar ul li a .far{
	width: 30px;
	color: #bdb8d7!important;
}
.sg-sidebar ul li:hover{
	background: #A52A2A;
}
.sg-sidebar ul li a:hover{
	text-decoration: none;
}
.sg-sidebar a:hover{
    border-bottom: none;
}
footer {
    margin-top: 0 !important;
}
